<fieldset>
    <div class="field-container">
        <label for="text">Text Input Not Selected</label>
        <input class="input-normal" id="text" type="text" placeholder="Text Input">
    </div>
  <div class="field-container">
    <label for="text">Text Input Selected</label>
    <input class="input-active" placeholder="Text Input">
  </div>
  <div class="field-container">
    <label for="text">Text Input Error</label>
    <input class="input-error" placeholder="Text Input">
  </div>
    <div class="field-container">
        <label for="password">Password</label>
        <input class="input-normal" id="password" type="password" placeholder="Password">
    </div>
    <div class="field-container">
        <label for="emailaddress">Email Address</label>
        <input class="input-normal" id="emailaddress" type="email" placeholder="Email Address">
    </div>
    <div class="field-container">
        <label for="search">Search</label>
        <input class="input-normal" id="search" type="search" placeholder="Search">
    </div>
    <div class="field-container">
        <label for="number">Number Input <abbr title="Required">*</abbr></label>
        <input class="input-normal" id="number" type="number" placeholder="Enter a Number" pattern="[0-9]*">
    </div>
    <div class="field-container">
        <label for="textarea">Text Area</label>
        <textarea class="input-normal" id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>
    </div>
</fieldset>