<p>Customers List Header</p>
<a href="{{ url }}"><img class="image-separator" src="../../images/Header-1-Customer-List.png" alt="Full Color" /></a>
<p>Customer Devices and Locations Header</p>
<a href="{{ url }}"><img class="image-separator" src="../../images/Header-2-Customer-Devices-and-Locations.png" alt="Full Color" /></a>
<p>Dashboard/Device Details Header</p>
<a href="{{ url }}"><img class="image-separator" src="../../images/Header-3-Device-Details.png" alt="Full Color" /></a>