<ul>
	<li class="breadcrumbs">Customers</li>
	<li class="breadcrumb-separator"><img src="../../images/breadcrumb-arrow.png" alt="Full Color" /></li>
	<li class="breadcrumbs">Customer Name</li>
	<li class="breadcrumb-separator"><img src="../../images/breadcrumb-arrow.png" alt="Full Color" /></li>
	<li class="breadcrumbs">Location Name</li>
	<li class="breadcrumb-separator"><img src="../../images/breadcrumb-arrow.png" alt="Full Color" /></li>
</ul>