<ul>
	<li class="breadcrumbs">Customers</li>
	<li class="breadcrumb-separator"><img src="../../images/breadcrumb-arrow.png" alt="Arrow" /></li>
	<li class="breadcrumbs">Customer Name</li>
	<li class="breadcrumb-separator"><img src="../../images/breadcrumb-arrow.png" alt="Arrow" /></li>
	<li class="breadcrumbs">Location Name</li>
	<li class="breadcrumb-separator"><img src="../../images/breadcrumb-arrow.png" alt="Arrow" /></li>
</ul>
<br><br>
<p>The "Customers" link takes you to the Customers List.</p>
<p>The "Customer Name" takes you to the default location page.</p>
<p>Finally the "Location Name" takes you to that specific location page.</p>