<ul>
	<li class="breadcrumbs">Customers</li>
	<li class="breadcrumb-separator">></li>
	<li class="breadcrumbs">Customer Location</li>
  <li class="breadcrumb-separator">></li>
	<li class="breadcrumbs">Device Name</li>
</ul>