<a href="{{ url }}"><img src="../../images/OvrC-Logo.png" class="logo" alt="Full Color" /></a>
<a href="{{ url }}"><img src="../../images/OvrC-Logo-Black.png" class="logo" alt="Black Logo" /></a>
<a href="{{ url }}"><img src="../../images/OvrC-Logo-White.png" class="logo" alt="White Logo" /></a>