<img src="../../images/ajax-loader.gif" alt="Loading" />
<img src="../../images/ajax-loader.gif" alt="Loading" />
<img src="../../images/ajax-loader.gif" alt="Loading" />
<img src="../../images/ajax-loader.gif" alt="Loading" />