<h3>Alerts</h3>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #00beff;"></span>
    <span class="sg-label">#00BEFF Informationional/Highlighted/Selectable</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #FF6600;"></span>
    <span class="sg-label">#FF6600 Alert/Error/Warning</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #009966;"></span>
    <span class="sg-label">#009966 Status Good/Normal</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #999999;"></span>
    <span class="sg-label">#999999 Counter Background/Table Title Background</span>
  </li>
</ul>
<br>
<h3>Buttons and Icons</h3>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #00beff;"></span>
    <span class="sg-label">#00BEFF Primary</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #CCCCCC;"></span>
    <span class="sg-label">#CCCCCC Secondary</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #FF6600;"></span>
    <span class="sg-label">#FF6600 Warning</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #7FDEFF;"></span>
    <span class="sg-label">#7FDEFF Loading</span>
  </li>
</ul>
<br>
<h3>Gray Colors</h3>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #F1F1F1;"></span>
    <span class="sg-label">#F1F1F1 Device Status Background</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #F7F7F7;"></span>
    <span class="sg-label">#F7F7F7 Mobile Header Background</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #CCCCCC;"></span>
    <span class="sg-label">#CCCCCC Mobile Divider</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #666666;"></span>
    <span class="sg-label">#666666 Content Mobile/Tablet</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #333333;"></span>
    <span class="sg-label">#333333 Mobile Icons</span>
  </li>
</ul>