<p>Primary font: "Roboto Regular", "Helvetica", "Arial", sans-serif;</p>
<p><em>Primary font italic: "Roboto Medium Italic", "Helvetica", "Arial", sans-serif;</em></p>
<p><strong>Primary font bold: "Roboto Medium", "Helvetica", "Arial", sans-serif;</strong></p>